
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    
    <body layout:fragment="body">
        <div class="container">
            <div class="card">
              <h5 class="card-header">Busqueda Rapida</h5>
              <div class="card-body">
                <form class="d-flex" role="Search">
                    <div class="row">
                        <div class="col-3">
                            <input class="form-control me-2" type="Search" placeholder="Nombre" aria-label="Search">
                        </div>
                        <div class="col-3">
                            <input class="form-control me-2" type="Search" placeholder="Apellido Paterno" aria-label="Search">
                        </div>
                        <div class="col-3">
                            <input class="form-control me-2" type="Search" placeholder="Apellido Materno" aria-label="Search">
                        </div>
                        <div class="col-3">  
                            <button class="btn btn-outline-dark" type="submit">Buscar</button>
                        </div>
                </form>
 
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
            
            <hr>


            
            
            <a th:href="@{/usuario/action/{IdUsuario}(IdUsuario = 0)}" class="btn btn-outline-primary"><i class="bi bi-person-add"></i>Nuevo Usuario</a>
            <hr>
            <table class="table table-hover">
                <thead>
                    <tr class="table-dark">
                        <th scope="col-1" class="col-sm col-md col-lg col-xl">#</th>
                        <th scope="col-2" class="col-sm col-md col-lg col-xl"><em>Nombre</em></th>
                        <th scope="col-2" class="col-sm col-md col-lg col-xl"><em>Contacto</em></th>
                        <th scope="col-2" class="col-sm col-md col-lg col-xl"><em>Datos Personales</em></th>
                        <th scope="col-1" class="col-sm col-md col-lg col-xl"><em>UserName</em></th>
                        
                        <th scope="col-3" class="col-sm col-md col-lg col-xl"><em>Direccion</em></th>  
                        <th scope="col-1" class="col-sm col-md col-lg col-xl"><em>Rol</em></th>
                        <th scope="col-1" class="col-sm col-md col-lg col-xl"><em>Foto</em></th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="usuario : ${usuarios}">
                        <td><a th:href="@{/usuario/action/{idUsuario}(idUsuario = ${usuario.IdUsuario})}" class="btn btn-outline-warning"><i class="bi bi-pencil-square"></i></a> <a class="btn btn-outline-danger"><i class="bi bi-trash"></i></a></td>
                        <td th:text="|${usuario.Nombre} ${usuario.ApellidoPaterno} ${usuario.ApellidoMaterno}|"></td>
                        <td th:text="|Tel: ${usuario.Celular} Cel:${usuario.Telefono}|"></td>
                        <td th:text="|${usuario.Email}, ${usuario.CURP}, ${usuario.FechaNacimiento}|"></td>
                        <td th:text="|${usuario.UserName}|"></td>

                        <td >
                            <ul>
                                <li th:each="direccion : ${usuario.Direcciones}" th:text="|${direccion.Calle} ${direccion.NumeroExterior} ${direccion.NumeroInterior} ${direccion.colonia.Nombre} ${direccion.colonia.CodigoPostal} ${direccion.colonia.Municipio.Nombre} ${direccion.colonia.Municipio.Estado.Nombre} ${direccion.colonia.Municipio.Estado.Pais.Nombre}|"></li>
                            
                            </ul>
                            
                        </td>
                         <td th:each="rol : ${usuario.Rol}" th:text="|${rol.Nombre}|"></td>
                         <td>
                             <img class="img-fluid" alt="Imagen responsiva" th:src="|${(usuario.Imagen != null) ? 'data:image/*;base64' + usuario.Imagen : 'https://www.seekpng.com/png/detail/514-5147412_default-avatar-icon.png'}|"></td>                        


                    </tr>
                </tbody>

            </table>
        </div>
    </body>
</html>
